#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
  }
  
  #contacts input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
  }
  
  #contacts input[type='submit']:hover {
    background-color: #f5d1764d;
  }
  
  @media (max-width: 650px) {
    #hero {
      margin-top: 120px;
    }
  }